[submodule "chiplab"]
	path = chiplab
	url = https://github.com/zhangziqing/lac_chiplab.git
[submodule "lac_tracer"]
	path = lac_tracer
	url = https://github.com/zhangziqing/Lac_tracer.git 
	branch = LA
[submodule "TCMAL"]
	path = TCMAL
	url = https://github.com/zhangziqing/TCMAL.git
